.card {
    position: absolute;

    width: 100px;
    height: 150px;

    transition: all 0.2s ease-out;

    overflow: hidden;
}

.card img {
    transform-origin: top left;
}

#desk {
    border: 5px;
    position: absolute;
    
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    background-color: green;
}

.username {
    position: absolute;

    z-index: 100;
}